.BGimg{
    -webkit-animation: 20s infinite;
    animation: 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
  }
  .BGimg{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-image: url(/);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    text-align: center;
    justify-content: center;
    animation: change 30s infinite ease-in-out;
  }
  
  @keyframes change{
    0%
    {
        background-image: url(/shadow\ of\ a\ plant.jpg);
    }
    20%
    {
        background-image: url(/paint\ with\ color.jpg);
    }
    40%
    {
        background-image: url(/blue\ with\ rose\ sky.jpg);
    }
    60%
    {
        background-image: url(/old\ papier.jpg);
    }
    80%
    {
        background-image: url(/sea\ white\ sky.jpg);
    }
  
    100%
    {
        background-image: url(/rose\ sky.jpg);
    }
  }
  body{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}
a{
    text-decoration: none;
    color: black;
  }

  a:hover{
    color: royalblue
  }

 footer{
    margin: 10%;
 }

 p{
    font-size: x-large;
 }
  .head1{
    font-size: xx-large;
  }
  .span {
    color: brown;
  }
  .nav1 a{
    display: inline;
  }